.bio {
	--padding: 400px;	
	text-align:justify;
	/*text-align: center;*/
}

#bioText {
	border: 2.5px solid gold;
	padding: 25px;
	margin-left: 250px;
	margin-right: 250px;
	
}


.bio > section {
	text-align: center;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

/* Anything under 1024px */
@media screen and (max-width: 1024px){
	.bio {
		--padding: 100px;
	}
}