/* Overrite fontfamily for the headline on Portfolio*/
@font-face {
    font-family: 'Nautigal';
    src: url('/Fonts/Nautigal/TheNautigal-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.headLine > h1 {
	font-family: 'Nautigal';
	letter-spacing: 0.0em;
	font-size: 400%;
}

.bio {
	--padding: 500px;	
}


.bio > section {
	text-align: center;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

/* Anything under 1024px */
@media screen and (max-width: 1024px){
	.bio {
		--padding: 100px;
	}
}