/* style the portfolio grid of images */
.portfolio-grid {
	--gap: 16px;
	--num-cols:5;
	--row-height: 300px;
	
	box-sizing: border-box;
	padding: var(--gap);
	
	/*display:grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-auto-rows: minmax(min-content, max-content);
	gap: var(--gap);
	align-items: self;*/
	
	display: flex;
	gap: var(--gap);
	flex-wrap: wrap;
}

.portfolio-grid > img {
	width: auto;
	height: var(--row-height) ;
	object-fit:cover;
	flex-grow: 1;
	vertical-align: middle;
}

.portfolio-grid > img:hover {
	opacity: 0.9;
	cursor: pointer;
}

/* styles for the slideshow */

.mySlides {
	display:none;
}

.mySlides {
	background-color: white;
	height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
	z-index: 2000;
}

.mySlides > img {
	max-width: 90%;
    max-height: 90%;
    display: block;
	margin:auto;
	padding-top: 5%;
}

.prev, .next, .close{
	z-index: 2002;
	position: absolute;
	
}

.prev {
	bottom: 50%;
	top: 50%;
	left: 16px;
}

.next {
	bottom: 50%;
	top: 50%;
	right: 16px;
}

.close {
	top: 16px;
	right: 20px;
}

/* Anything under 1024px */
@media screen and (max-width: 1024px){
	.portfolio-grid {
		--num-cols:2;
		--row-height:200px;
	}
}

