/* Overrite fontfamily for the headline on Portfolio*/
@font-face {
    font-family: 'Nautigal';
    src: url('/Fonts/Nautigal/TheNautigal-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
	--stdTxt: black;
	--stdbckgrndclr: #D2D5D6;
	--stdFont: "Monaco", monospace;
	--goldGrad: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FCF6BA, #AA771C);
	--cursFont: Brush Script MT, Brush Script Std, cursive;
}

/* style for the headLine at the top of the page */
.headLine{
	--fntSze: 150%;
	
	font-size: var(--fntSze);
	text-align:left;
	background-color: var(--stdbckgrndclr);
	background: var(--goldGrad);
	display: block;
	width: 100%;
	height: auto;
	margin:0;
	padding:0;
	z-index: 100;
	position: absolute;
	top: 0;
	left:0;
}

.headLine > h1 {
	padding-left: 100px;
	letter-spacing: 0.2em;
	font-family: Nautigal;
	color: black;
}

/* style for the taskbar at the top of the page */
.tskBarGrid {
	--margin:50px;
	margin-top: var(--margin);
	position: sticky;
	top: 0;
	display:grid;
	grid-template-columns: repeat(4, 1fr); /* three columns */
	grid-template-rows: 50px; /* one row */
	grid-column-gap: 10px;
	place-items: center;
	background-color: white;
	/*background:var(--goldGrad);*/
	color:darkgrey;  
	letter-spacing: 0.2em;
	font-family:var(--stdFont); 
	z-index: 1000;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: grey;
  text-decoration: none;
}
/* selected link */
a:active {
  color: grey;
  text-decoration: none;
}

#insta {
	width: 50px;
	height:auto;
}

/* style for the body*/
body {
  background-color: white;
  font-family:var(--stdFont);
  letter-spacing: 0.2em;
  padding-top: 100px;
  height: 95%;
}

/* anything below 1024px */
@media screen and (max-width: 1024px){
	.headLine  {
		--fntSze: 90%;
	}
	.tskBarGrid {
		--margin:10px;
	}
}